  /* main text color #2E2F42*/
  /* secondary color #434455*/
  /* accent #F4F4FD*/
  /* secondary accent #FFFFFF */
  /* backgroung main #FFFFFF*/
  /* background  hero #2E2F42*/
  /* background team #F4F4FD */

  :root {
      --primary-text-color: #2E2F42;
      --title-text-color: #434455;
      --main-accent-color: #4D5AE5;
      --accent-color: #F4F4FD;
      --secondary-accent-color: #FFFFFF;
      --backgroung-main-color: #FFFFFF;
      --background-hero-color: #2E2F42;
      --background-team-color: #F4F4FD;
  }


  /* Body */
  body {
      background-color: var(--backgroung-main-color);
      color: var(--title-text-color);
      font-family: 'Roboto', sans-serif;
  }

  .list {
      list-style: none;
  }

  .link {
      text-decoration: none;
  }

  /* List tag */
  .list {
      list-style: none;
      text-decoration: none
  }

  /* Link tag */
  .link {}

  /* Header */
  .header {}

  .header-navigation {}

  .header-logo-web {
      color: var(--main-accent-color);
  }

  .header-logo-studio {
      color: var(--primary-text-color);
  }

  .header-navigation-link {
      color: var(--primary-text-color);
  }

  .header-navigation-list {
      color: var(--primary-text-color);
  }

  .header-navigation-link:hover {
      color: var(--main-accent-color);

  }



  .header-navigation-link:focus {
      color: var(--main-accent-color);
  }




  .header-address {}

  .header-address-link {
      color: var(--title-text-color);
  }

  .header-address-link:hover {
      color: var(--main-accent-color);

  }


  .header-address-link:focus {
      color: var(--main-accent-color);

  }

  /* Main 1*/
  .main-section1 {
      background-color: var(--background-hero-color);
  }

  .main-section1-text {
      color: var(--secondary-accent-color);
  }

  .main-section1-button {
      color: var(--secondary-accent-color);
      background-color: var(--main-accent-color);
  }

  /* Main 2 */
  .main-section2 {}

  .main-section2-title {}

  .main-section2-list {}

  .main-section2-list-item {}

  .main-section2-list-title {
      color: var(--primary-text-color);
  }

  .main-section2-list-text {
      color: var(--title-text-color);
  }

  /* Main 3 */
  .main-section3 {}

  .main-section3-title {
      color: var(--primary-text-color);
  }

  .main-section3-list {}

  .main-section3-list-item {}

  .main-section3-list-img {}

  /* Main 4 */
  .main-section4 {
      background-color: var(--background-team-color);
  }

  .main-section4-title {
      color: var(--primary-text-color);
  }

  .main-section4-list {}

  .main-section4-list-item {}

  .main-section4-list-item-img {}

  .main-section4-list-item-title {
      color: var(--primary-text-color);
  }

  .main-section4-list-item-text {
      color: var(--title-text-color);
  }

  /* Footer */
  .footer {
      background-color: var(--background-hero-color);
  }

  .footer-logo-web {
      color: var(--main-accent-color);
  }

  .footer-logo-studio {
      color: var(--accent-color);
  }

  .footer-text {
      color: var(--accent-color)
  }

  /* Portfolio page 2 */

  .portfolio-main-section1 {}

  .portfolio-btn-list {}

  .portfolio-btn-list-item {}

  /* Main 2 */
  .portfolio-main-section2 {}

  .portfolio-main-section2-img-list {}

  .portfolio-main-section2-img-list-item {}

  .portfolio-link {}

  .portfolio-main-section2-img-list-item-pic {}

  .portfolio-main-section2-img-list-item-title {}

  .portfolio-main-section2-img-list-item-text {}