  /* main text color #2E2F42*/
  /* secondary color #434455*/
  /* accent #F4F4FD*/
  /* secondary accent #FFFFFF */
  /* backgroung main #FFFFFF*/
  /* background  hero #2E2F42*/
  /* background team #F4F4FD */

  :root {
      --primary-text-color: #2E2F42;
      --title-text-color: #434455;
      --main-accent-color: #4D5AE5;
      --accent-color: #F4F4FD;
      --current-buton-color: #404BBF;
      --secondary-accent-color: #FFFFFF;
      --backgroung-main-color: #FFFFFF;
      --background-hero-color: #2E2F42;
      --background-team-color: #F4F4FD;
      --backgroung-button-color: #404BBF
  }


  /* Body */
  body {
      background-color: var(--backgroung-main-color);
      color: #434455;

      font-family: 'Roboto', sans-serif;
  }

  .list {
      list-style: none;
  }

  .link {
      text-decoration: none;
  }

  /* List tag */
  .list {
      list-style: none;
      text-decoration: none
  }

  /* Link tag */
  .link {}

  /* Header */
  .header {}

  .header-navigation {}

  .header-logo-web {
      color: var(--main-accent-color);

      font-family: 'Raleway';
      font-weight: 800;
      font-size: 18px;
      line-height: 1.16;

  }

  .header-logo-studio {
      color: var(--primary-text-color);

      font-family: 'Raleway';
      font-weight: 800;
      font-size: 18px;
      line-height: 1.16;
  }

  .header-navigation-link {
      color: var(--primary-text-color);


      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;

  }

  .header-navigation-list {
      color: var(--primary-text-color);
  }

  .header-navigation-link:hover {
      color: var(--main-accent-color);

  }

  .header-navigation-link .link.current {
      color: var(--current-buton-color);

  }

  .header-navigation-link:focus {
      color: var(--main-accent-color);
  }




  .header-address {}

  .header-address-link {
      color: var(--title-text-color);

      font-size: 16px;
      line-height: 1.5;
  }

  .header-address-link:hover {
      color: var(--main-accent-color);

  }


  .header-address-link:focus {
      color: var(--main-accent-color);

  }

  /* Main 1*/
  .hero-section {
      background-color: var(--background-hero-color);
  }

  .hero-section-text {
      color: var(--secondary-accent-color);

      font-weight: 700;
      font-size: 56px;
      line-height: 1.07;
      text-align: center;
  }

  .hero-section-button {
      color: var(--secondary-accent-color);
      background-color: var(--main-accent-color);

      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
  }

  /* Main 2 */
  .goals-section {}

  .goals-section-title {}

  .goals-section-list {}

  .goals-section-list-item {}

  .goals-section-list-title {
      color: var(--primary-text-color);

      font-weight: 500;
      font-size: 20px;
      line-height: 1.2;

  }

  .goals-section-list-text {
      color: var(--title-text-color);

      font-size: 16px;
      line-height: 1.5;

  }

  /* Main 3 */
  .examples {}

  .examples-title {
      color: var(--primary-text-color);

      font-weight: 700;
      font-size: 36px;
      line-height: 1.1;
      text-align: center;
  }

  .examples-list {}

  .examples-list-item {}

  .examples-list-img {}

  /* Main 4 */
  .team {
      background-color: var(--background-team-color);
  }

  .team-title {
      color: var(--primary-text-color);

      font-weight: 700;
      font-size: 36px;
      line-height: 1.1;
      text-align: center;
  }

  .team-list {}

  .team-list-item {
      background-color: var(--backgroung-main-color);
  }

  .team-list-item-img {}

  .team-list-item-title {
      color: var(--primary-text-color);


      font-weight: 500;
      font-size: 20px;
      line-height: 1.2;
      text-align: center;

  }

  .team-list-item-text {
      color: var(--title-text-color);

      font-size: 16px;
      line-height: 1.5;
      text-align: center;

  }

  /* Footer */
  .footer {
      background-color: var(--background-hero-color);
  }

  .footer-logo-web {
      color: var(--main-accent-color);
      font-family: 'Raleway';
      font-style: normal;
  }

  .footer-logo-studio {
      color: var(--accent-color);
      font-family: 'Raleway';
      font-style: normal;
  }

  .footer-text {
      color: var(--accent-color) font-family: 'Roboto';

      font-size: 16px;
      line-height: 1.5;

  }

  /* Portfolio page 2 */

  .portfolio-main-section {}

  .portfolio-button-list {}

  .portfolio-button-list-item {}

  .portfolio-button {
      background-color: var(--accent-color);
      color: var(--main-accent-color);

      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      align-items: center;
      text-align: center;

  }

  .portfolio-button:hover {
      background-color: var(--backgroung-button-color);
      color: var(--secondary-accent-color);
  }

  .portfolio-button:focus {
      background-color: var(--backgroung-button-color);
      color: var(--secondary-accent-color);
  }

  /* Main 2 */
  .portfolio-services {}

  .portfolio-services-img-list {}

  .portfolio-services-img-list-item {}

  .portfolio-link {}

  .portfolio-services-img-list-item-pic {}

  .portfolio-services-img-list-item-title {
      color: var(--primary-text-color);

      font-weight: 500;
      font-size: 20px;
      line-height: 1.2;

  }

  .portfolio-services-img-list-item-text {
      color: var(--title-text-color);

      font-size: 16px;
      line-height: 1.5;



  }