  /* main text color #2E2F42*/
  /* secondary color #434455*/
  /* accent #F4F4FD*/
  /* secondary accent #FFFFFF */

  :root {
      --primary-text-color: #2E2F42;
      --title-text-color: #434455;
      --main-accent-color: #4D5AE5;
      --accent-color: #F4F4FD;
      --secondary-accent-color: #FFFFFF;
  }


  /* Body */
  body {
      background-color: #FFFFFF;
      color: var(--primary-text-color);
      font-family: 'Roboto', sans-serif;
  }

  .list {
      list-style: none;
  }

  .link {
      text-decoration: none;
  }

  /* List tag */
  .list {
      list-style: none;
      text-decoration: none
  }

  /* Link tag */
  .link {}

  /* Header */
  .header {}

  .header-navigation {}

  .header-logo-web {
      color: var(--main-accent-color);
  }

  .header-logo-studio {
      color: var(--primary-text-color);
  }

  .header-navigation-list {
      color: var(--primary-text-color);
  }

  .header-navigation-list .header-navigation-item .header-navigation-studio:hover {
      color: var(--main-accent-color);

  }

  .header-navigation-portfolio:hover {
      color: var(--main-accent-color);

  }

  .header-navigation-contacts:hover {
      color: var(--main-accent-color);

  }

  .header-navigation-studio:focus {
      color: var(--main-accent-color);
  }

  .header-navigation-portfolio:focus {
      color: var(--main-accent-color);
  }

  .header-navigation-contacts:focus {
      color: var(--main-accent-color);
  }



  .header-address {}

  .header-address-list {
      color: var(--title-text-color);
  }

  .header-address-link:hover {
      color: var(--main-accent-color);

  }

  .header-phone-link:hover {
      color: var(--main-accent-color);

  }


  .header-address-link:hover {
      color: var(--main-accent-color);

  }

  .header-phone-link:focus {
      color: var(--main-accent-color);

  }

  /* Main 1*/
  .main-section1 {}

  .main-section1-text {}

  .main-section1-button {}

  /* Main 2 */
  .main-section2 {}

  .main-section2-title {}

  .main-section2-list {}

  .main-section2-list-item {}

  .main-section2-list-title {}

  .main-section2-list-text {}

  /* Main 3 */
  .main-section3 {}

  .main-section3-title {}

  .main-section3-list {}

  .main-section3-list-item {}

  .main-section3-list-img {}

  /* Main 4 */
  .main-section4 {}

  .main-section4-title {}

  .main-section4-list {}

  .main-section4-list-item {}

  .main-section4-list-item-img {}

  .main-section4-list-item-title {}

  .main-section4-list-item-text {}

  /* Footer */
  .footer {}

  .footer-logo-web {}

  .footer-logo-studio {}

  .footer-text {}

  /* Portfolio page 2 */

  .portfolio-main-section1 {}

  .portfolio-btn-list {}

  .portfolio-btn-list-item {}

  /* Main 2 */
  .portfolio-main-section2 {}

  .portfolio-main-section2-img-list {}

  .portfolio-main-section2-img-list-item {}

  .portfolio-main-section2-img-list-item-pic {}

  .portfolio-main-section2-img-list-item-title {}

  .portfolio-main-section2-img-list-item-text {}